modules = ["nodejs-20", "python-3.12", "web", "bash"]
run = "run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run"]

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = 45133862
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && pip install -r requirements.txt && python main.py"

[[workflows.workflow]]
name = "Start Frontend"
author = 45133862
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
